In [2]:
import pandas as pd

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [330]:
#cola nos parenteses o conte√∫do de "copiar caminho"
df = pd.read_csv("/content/drive/MyDrive/IIC - COVID dataset/Covid Data.csv")

In [310]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1048575 non-null  int64
 1   MEDICAL_UNIT          1048575 non-null  int64
 2   SEX                   1048575 non-null  int64
 3   PATIENT_TYPE          1048575 non-null  int64
 4   DATE_DIED             1048575 non-null  object
 5   INTUBED               1048575 non-null  int64
 6   PNEUMONIA             1048575 non-null  int64
 7   AGE                   1048575 non-null  int64
 8   PREGNANT              1048575 non-null  int64
 9   DIABETES              1048575 non-null  int64
 10  COPD                  1048575 non-null  int64
 11  ASTHMA                1048575 non-null  int64
 12  INMSUPR               1048575 non-null  int64
 13  HIPERTENSION          1048575 non-null  int64
 14  OTHER_DISEASE         1048575 non-null  int64
 15  CARDIOVASCULAR        1048575 non-null  int64
 16  OBESITY               1048575 non-null  int64
 17  RENAL_CHRONIC         1048575 non-null  int64
 18  TOBACCO               1048575 non-null  int64
 19  CLASIFFICATION_FINAL  1048575 non-null  int64
 20  ICU                   1048575 non-null  int64
dtypes: int64(20), object(1)
memory usage: 168.0+ MB

In [311]:
df['DATE_DIED'].value_counts()

9999-99-99    971633
06/07/2020      1000
07/07/2020       996
13/07/2020       990
16/06/2020       979
               ...
24/11/2020         1
17/12/2020         1
08/12/2020         1
16/03/2021         1
22/04/2021         1
Name: DATE_DIED, Length: 401, dtype: int64

In [271]:
def converte_data(a):
  #nao morreram
  if a == '9999-99-99':
    a = a.replace(a,'2')
  else:
    #morreram
    a = a.replace(a,'1')
  return a

In [313]:
df['INTUBED'].value_counts()

97    848544
2     159050
1      33656
99      7325
Name: INTUBED, dtype: int64

In [331]:
df['MORTE'] = df.DATE_DIED.apply(converte_data)

In [332]:
df=df.drop(columns=['PREGNANT','PNEUMONIA','PATIENT_TYPE','DATE_DIED','CLASIFFICATION_FINAL','SEX','INMSUPR','RENAL_CHRONIC','USMER', 'MEDICAL_UNIT','ICU','OTHER_DISEASE'])

In [333]:
df.MORTE.value_counts()

2    971633
1     76942
Name: MORTE, dtype: int64

In [319]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 10 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   INTUBED         1048575 non-null  int64
 1   AGE             1048575 non-null  int64
 2   DIABETES        1048575 non-null  int64
 3   COPD            1048575 non-null  int64
 4   ASTHMA          1048575 non-null  int64
 5   HIPERTENSION    1048575 non-null  int64
 6   CARDIOVASCULAR  1048575 non-null  int64
 7   OBESITY         1048575 non-null  int64
 8   TOBACCO         1048575 non-null  int64
 9   MORTE           1048575 non-null  object
dtypes: int64(9), object(1)
memory usage: 80.0+ MB

In [334]:
X = df.drop(columns=['MORTE'])
y = df['MORTE']

In [335]:
print(f"Nomes dos Atributos: {df.columns}")
print(f"Tamanho de X: {X.shape}")
print(f"Tamanho de y: {y.shape}")

Nomes dos Atributos: Index(['INTUBED', 'AGE', 'DIABETES', 'COPD', 'ASTHMA', 'HIPERTENSION',
       'CARDIOVASCULAR', 'OBESITY', 'TOBACCO', 'MORTE'],
      dtype='object')
Tamanho de X: (1048575, 9)
Tamanho de y: (1048575,)

In [336]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.25,
                                                    random_state=123)

In [323]:
print(f"Tamanho de X_train: {X_train.shape}")
print(f"Tamanho de X_test: {X_test.shape}")
print(f"Tamanho de y_train: {y_train.shape}")
print(f"Tamanho de y_test: {y_test.shape}")

Tamanho de X_train: (786431, 9)
Tamanho de X_test: (262144, 9)
Tamanho de y_train: (786431,)
Tamanho de y_test: (262144,)

In [337]:
from sklearn.linear_model import LinearRegression

rl = LinearRegression()

In [338]:
rl.fit(X_train, y_train)

LinearRegression()

In [339]:
# Coeficientes do modelo
for feature, coef in zip(df.columns.tolist(), rl.coef_.tolist()):
    print(f"{feature}: {round(coef, 4)}")

# Constante do modelo
print(f"Constante: {round(rl.intercept_, 4)}")

INTUBED: 0.0032
AGE: -0.0027
DIABETES: 0.0005
COPD: -0.0007
ASTHMA: -0.0005
HIPERTENSION: 0.0006
CARDIOVASCULAR: -0.0004
OBESITY: -0.0002
TOBACCO: -0.0003
Constante: 1.7882

In [340]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

y_pred = rl.predict(X_test)

print(f"MSE de Teste: {mean_squared_error(y_test, y_pred):1.1f}")
print(f"MAE de Teste: {mean_absolute_error(y_test, y_pred):1.1f}")

MSE de Teste: 0.0
MAE de Teste: 0.1

In [341]:
from sklearn.metrics import r2_score 
R2 = r2_score(y_test,y_pred)
print(R2)
#ou rl.score(X_test,y_test)

0.28643819418970007

In [342]:
rl.score(X_test,y_test)

0.28643819418970007